rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read all documents
    // Allow admins to write all documents
    match /{document=**} {
      allow read: if true;
      allow write: if hasAnyRole(["ADMIN", "OWNER"]);
    }
  }
}